@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat';
  --primary: #A53DFF;
  --secondary: #EDD8FF;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  font-family: var(--font-montserrat);
}