@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat';
  --primary: #A53DFF;
  --secondary: #EDD8FF;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  font-family: var(--font-montserrat);
}

/* smooth scroll animation  */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
/* end smooth scroll animation  */